@font-face {
	font-family: DrukBold;
	src: url('../styles/fonts/DrukBold.ttf') format('truetype');
}

@font-face {
	font-family: DrukWide;
	src: url('../styles/fonts/DrukWide.ttf') format('truetype');
}

@font-face {
	font-family: Milkista;
	src: url("../styles/fonts/Milkista.ttf") format('truetype');
}

@font-face {
	font-family: Snowman;
	src: url("../styles/fonts/Snowman.ttf") format('truetype');
}

@font-face {
	font-family: Neutra;
	src: url("../styles/fonts/Neutra.ttf") format('truetype');
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--primary: #ff4747;
	--secondary: #ffe0e0;
	--dark-text: rgb(35, 35, 35);
	--accent: #dfdfdf;
	--font-headings: 'DrukBold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	--font-body: "Neutra", sans-serif;

}

html {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

body {
	text-rendering: optimizeSpeed;
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-size: 1.2rem;
	font-family: var(--font-body);
	font-weight: 200;
	color: var(--dark-text);
}

::selection {
	background-color: var(--secondary);
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-headings)
}

h1 {
	font-size: 2.2rem;
}

h2 {
	text-transform: capitalize;
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem;
}

blockquote {
	font-style: italic;
	font-weight: bold;
	color: var(--primary);
	font-size: 1.8rem;
}

.category-badge {
	margin-bottom: 1em;
	color: var(--primary);
	text-transform: uppercase;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

li {
	line-height: 2rem;
	font-family: (--font-body);
}

html:focus-within {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: var(--primary);
}

a:hover {
	color: var(--dark-text);
}

.read-more-tag {
	text-transform: uppercase;
	border-bottom: 2px solid var(--secondary);
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	object-fit: cover;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
}