@font-face {
	font-family: DrukBold;
	src: url('../styles/fonts/DrukBold.ttf') format('truetype');
}

@font-face {
	font-family: DrukWide;
	src: url('../styles/fonts/DrukWide.ttf') format('truetype');
}

@font-face {
	font-family: Milkista;
	src: url("../styles/fonts/Milkista.ttf") format('truetype');
}

@font-face {
	font-family: Snowman;
	src: url("../styles/fonts/Snowman.ttf") format('truetype');
}

@font-face {
	font-family: Neutra;
	src: url("../styles/fonts/Neutra.ttf") format('truetype');
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	--primary: rgb(245, 94, 20);
	--secondary: #ddd9d8;
	--dark-text: rgb(35, 35, 35);
	--accent: #6e6d7a;
	--font-headings: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif --font-body: "Neutra", sans-serif;
	--font-body: 'Georgia, ' Times New Roman', Times, serif';

}

html {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

body {
	text-rendering: optimizeSpeed;
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-size: 1.2rem;
	font-family: var(--font-body);
	font-weight: 200;
	color: var(--dark-text);
}

::selection {
	background-color: var(--secondary);
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-headings);
	text-transform: uppercase;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	text-transform: uppercase;
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem;
}

.category-badge {
	margin-bottom: 1em;
	text-transform: uppercase;
	font-weight: bold;
}

.category-badge::before {
	content: "#"
}

.close-tag {
	cursor: pointer;
	font-weight: bold;
	border-bottom: 1.5px solid var(--primary);
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

li {
	line-height: 2rem;
	font-family: (--font-body);
}

html:focus-within {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: var(--primary);
}

a:hover {
	color: var(--dark-text);
}


a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	object-fit: cover;
}

input,
button,
textarea,
select {
	font: inherit;
}

.photo-credit {
	font-size: 1rem;
	text-transform: uppercase;
}

.post-date {
	margin-bottom: 2em;
	text-transform: uppercase;
	font-size: 1rem;
}

blockquote {
	color: var(--primary);
	font-weight: bold;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
}

@media (max-width: 500px) {
	body {
		font-size: 1rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.6rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	blockquote {
		font-size: 1.4rem;
	}
}
